{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>忘记密码 </title>
<link rel="stylesheet" media="screen" href="{% static 'css/forgetpassword.css'%}" />
</head>
<body>
<form id="msform" action="{% url 'forget' %}" method="post">
	{% csrf_token %}
	<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">填写用户名和邮箱</li>
		<li>设置新密码</li>
		<li>完成</li>
	</ul>
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">填写用户名和邮箱</h2>
		<h3 class="fs-subtitle">这是第一步</h3>
		<input type="email" name="email" placeholder="Email" autocomplete="off" id="email" />
		<input type="text" name="username" placeholder="Username" autocomplete="off" id="name" />
		<li id ="tishi" class = "msg" style="list-style: none;">{{ msg }}</li>
        <button type="submit" name="next" class="next action-button">发送验证邮件</button>
		<h4 class="attention">*请登录邮箱验证身份</h4>
	</fieldset>
</form>


<script type="text/javascript" src="{% static 'Js/jquery-1.9.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Js/jquery.easing.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Js/forgetpassword.js' %}"></script>
 
 
</body>
</html>