{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>忘记密码 </title>
<link rel="stylesheet" media="screen" href="{% static 'css/forgetpassword.css'%}" />
</head>

<form id="msform" action="{% url 'reset' %}" method="post">
    {% csrf_token %}
	<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">填写用户名和邮箱</li>
		<li class = "active">设置新密码</li>
		<li>完成</li>
	</ul>
	<!-- fieldsets -->
	<fieldset>
        <input type = "hidden" value = "{{ code }}" name = "code">
		<h2 class="fs-title">设置新密码</h2>
		<h3 class="fs-subtitle">不要再忘记新密码了呦~</h3>
		<input type="password" name="pass" placeholder="Password" autocomplete="off"  id="id_password1" minlength="6" />
		<input type="password" name="cpass" placeholder="Confirm Password" autocomplete="off"  id="id_password2" onkeyup="same()" minlength="6" />
		<li id ="same" class = "msg" style="list-style: none;">{{ msg }}</li>
		<input type="submit" name="next" class="nextstep action-button" value="下一步"/>
	</fieldset>
    <fieldset></fieldset>
	<fieldset>
	</fieldset>
</form>


<script type="text/javascript" src="{% static 'Js/jquery-1.9.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Js/jquery.easing.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Js/forgetpassword.js' %}"></script>


</body>
</html>